*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'Open Sans', sans-serif;

	background-color: #e3ecf0;
	overflow-x: hidden;
color: #29333f;
	
	
}

#jumbotron
{
	background-color: #2E86C1;
	color: white;
}
#signUp
{
	background-color: white;
	color: #2E86C1
}
#gender
{
	padding: 15px;
	background-color: white;

}
.itemsc
{
	padding-bottom: 100px;
	background-color: white;
}
#footer
{
	background-color: white;
	margin: 200px 0px 10px 0px;
}
.imgsym
{
	height: 170px;
	width: 170px;
	border-radius: 70%;
}
.ploss
{
	font-size: 24px;
}





















